<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Polytext!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <%= render "header.html", assigns %>
    <%= render "flash_message.html", assigns %>
    <div class="main bg-light">
      <div class="container pt-3">
        <%= render @view_module, @view_template, assigns %>
      </div> <!-- /container -->
    </div>
    <%= if assigns[:user_token] do %>
      <script>window.userToken = "<%= assigns[:user_token] %>";</script>
    <% end %>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
