<h1>Your Documents</h1>

<%= for document <- @documents do %>
  <p>1) <%= document.id %></p>
<% end %>

<%= form_for @changeset, document_path(@conn, :create), fn f -> %>
  <div class="form-group">
    <%= submit "Create New Document", class: "btn btn-primary" %>
  </div>
<% end %>
